
show cocktail
<br>

<%= @cocktail.name %>
<br>
<br>
<%= link_to 'list', cocktails_path %><br>

<%= link_to 'Add dose', new_cocktail_dose_path(@cocktail, @dose) %><br>
<h1>Doses</h1>

<% @doses.each do |dose| %>
   <%= dose.description %> - <%= Ingredient.find(dose.ingredient_id).name %><br>
<% end %>

