<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>');">

  <div class="card-category" >Cocktail</div>

  <div class="card-description">
    <h2><%= @cocktail.name %></h2>

  </div>

  <img class="card-user avatar" src="user.jpg">
  <a class="card-link" href="#" ></a>

</div>
<br><br>
    <p>

    <%= link_to 'list', cocktails_path, :class => "btn-medium" %>
    <%= link_to 'Delete', cocktail_path(@cocktail),
      :class => "btn-medium",
      method: :delete,
      data: { confirm: "Are you sure?" } %>
   <%= link_to 'Add dose', new_cocktail_dose_path(@cocktail, @dose), :class => "btn-medium" %>

</p>



<br>

<h1>Doses</h1>

<% @doses.each do |dose| %>
<div class="product">

  <div class='product-body'>
    <h3><%= Ingredient.find(dose.ingredient_id).name %></h3>
<p>
    <%= dose.description %>
    </p>


  </div>
  <ul class="list-inline hidden-sm hidden-xs">
    <li><%= link_to 'Delete Dose', cocktail_dose_path(dose.id), :class => "btn-medium", method: :delete,
      data: { confirm: "Are you sure?" } %></li>

  </ul>
</div>


<% end %>

